.idea
.vscode
variables*.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Python Env
.venv

# Ansible
*.retry
*.swp

# Ansible Community Roles
jdauphant.nginx
